<div id="posts">
  {% if total_posts > 0 %}
    <div class="text-muted-foreground mb-4 text-right text-sm">
      Showing <strong>{{ range.start }} – {{ range.end }}</strong>
      of {{ total_posts }} posts
    </div>
  {% endif %}

  {% if posts is not empty %}
    <div class="grid grid-cols-2 gap-x-4 gap-y-8 lg:grid-cols-3 xl:grid-cols-4">
      {% for p in posts %}
        {% include 'partials/post-card.twig' with {
          post: p
        } %}
      {% endfor %}
    </div>
  {% else %}
    <p class="text-muted-foreground">
      Sorry, no posts matched your search.
    </p>
  {% endif %}

  {% if total_posts > 0 %}
    <div class="text-muted-foreground mt-8 items-center text-right text-sm">
      Showing <strong>{{ range.start }} – {{ range.end }}</strong>
      of {{ total_posts }} posts
    </div>
  {% endif %}
</div>
