<!DOCTYPE html>
<html {{ site.language_attributes }} class="dark">
  <head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block head %}

    {% endblock %}
    {{ function('wp_head') }}
  </head>

  <body {{ function('body_class', ['antialiased']) }}>
    {{ function('wp_body_open') }}
    <main>
      {% block content %}

      {% endblock %}
    </main>

    <footer>
      {% block footer %}

      {% endblock %}
    </footer>
    {{ function('wp_footer') }}
  </body>
</html>
