{% extends 'base.twig' %}
{% from 'components/_macros/button.twig' import button %}

{% block content %}
  <div class="flex flex-col gap-4 p-16">
    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'xs'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'sm'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'md'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'xl'
        })
      }}
    </div>

    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'xs',
          variant: 'secondary'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'sm',
          variant: 'secondary'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'md',
          variant: 'secondary'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          variant: 'secondary'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'xl',
          variant: 'secondary'
        })
      }}
    </div>

    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'xs',
          variant: 'ghost'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'sm',
          variant: 'ghost'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'md',
          variant: 'ghost'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          variant: 'ghost'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'xl',
          variant: 'ghost'
        })
      }}
    </div>

    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'xs',
          variant: 'link'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'sm',
          variant: 'link'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'md',
          variant: 'link'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          variant: 'link'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'xl',
          variant: 'link'
        })
      }}
    </div>

    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'xs',
          variant: 'destructive'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'sm',
          variant: 'destructive'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'md',
          variant: 'destructive'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          variant: 'destructive'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'xl',
          variant: 'destructive'
        })
      }}
    </div>
  </div>
{% endblock %}
