{% extends 'base.twig' %}

{% from 'components/button.twig' import button %}
{% import 'components/accordion.twig' as acc %}

{% block content %}
  <div class="flex flex-col gap-4 p-8">
    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'sm'
        })
      }}
      {{
        button({
          label: 'Click Me'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          suffix: lucide('thumbs-up')
        })
      }}

      {{
        button({
          label: 'Click Me',
          suffix: lucide('activity'),
          size: 'icon'
        })
      }}
    </div>

    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'sm',
          variant: 'secondary'
        })
      }}
      {{
        button({
          label: 'Click Me',
          variant: 'secondary'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          variant: 'secondary',
          suffix: lucide('thumbs-up')
        })
      }}
      {{
        button({
          label: 'Click Me',
          suffix: lucide('activity'),
          size: 'icon',
          variant: 'secondary'
        })
      }}
    </div>

    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'sm',
          variant: 'outline'
        })
      }}
      {{
        button({
          label: 'Click Me',
          variant: 'outline'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          variant: 'outline',
          suffix: lucide('thumbs-up')
        })
      }}
      {{
        button({
          label: 'Click Me',
          suffix: lucide('activity'),
          size: 'icon',
          variant: 'outline'
        })
      }}
    </div>

    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'sm',
          variant: 'ghost'
        })
      }}
      {{
        button({
          label: 'Click Me',
          variant: 'ghost',
          suffix: lucide('thumbs-up')
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          variant: 'ghost',
          suffix: lucide('thumbs-up')
        })
      }}
      {{
        button({
          label: 'Click Me',
          suffix: lucide('activity'),
          size: 'icon',
          variant: 'ghost'
        })
      }}
    </div>

    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'sm',
          variant: 'link'
        })
      }}
      {{
        button({
          label: 'Click Me',
          variant: 'link'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          variant: 'link',
          suffix: lucide('thumbs-up')
        })
      }}
      {{
        button({
          label: 'Click Me',
          suffix: lucide('activity'),
          size: 'icon',
          variant: 'link'
        })
      }}
    </div>

    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'sm',
          variant: 'destructive'
        })
      }}
      {{
        button({
          label: 'Click Me',
          variant: 'destructive'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          variant: 'destructive',
          suffix: lucide('thumbs-up')
        })
      }}
      {{
        button({
          label: 'Click Me',
          suffix: lucide('activity'),
          size: 'icon',
          variant: 'destructive'
        })
      }}
    </div>
    <div>
      {{ acc.group_start('single') }}

      {{ acc.item_start('one', 'What browsers are supported?') }}
      Our website is optimized for the latest versions of Chrome, Firefox, Safari,
      and Edge. Check our <a href="#">documentation</a>.
      {{ acc.item_end() }}

      {{ acc.item_start('two', 'How can I contact customer support?') }}
      Reach us at <a href="mailto:support@example.com">support@example.com</a>
      or call <strong>1-800-123-4567</strong>.
      {{ acc.item_end() }}

      {{ acc.item_start('three', 'What is the refund policy?', true) }}
      See our <a href="#">refund policy</a>.
      {{ acc.item_end() }}

      {{ acc.group_end() }}
    </div>

    <div>
      {{ acc.group_start('multiple') }}

      {{ acc.item_start('one', 'What browsers are supported?') }}
      Our website is optimized for the latest versions of Chrome, Firefox, Safari,
      and Edge. Check our <a href="#">documentation</a>.
      {{ acc.item_end() }}

      {{ acc.item_start('two', 'How can I contact customer support?') }}
      Reach us at <a href="mailto:support@example.com">support@example.com</a>
      or call <strong>1-800-123-4567</strong>.
      {{ acc.item_end() }}

      {{ acc.item_start('three', 'What is the refund policy?', true) }}
      See our <a href="#">refund policy</a>.
      {{ acc.item_end() }}

      {{ acc.group_end() }}
    </div>
  </div>
{% endblock %}
