{% extends 'base.twig' %}
{% from 'components/button.twig' import button %}

{% block content %}
  <div class="flex flex-col gap-4 p-8">
    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'sm'
        })
      }}
      {{
        button({
          label: 'Click Me'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          suffix: lucide('thumbs-up')
        })
      }}

      {{
        button({
          label: lucide('activity'),
          size: 'icon'
        })
      }}
    </div>

    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'sm',
          variant: 'secondary'
        })
      }}
      {{
        button({
          label: 'Click Me',
          variant: 'secondary'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          variant: 'secondary',
          suffix: lucide('thumbs-up')
        })
      }}
      {{
        button({
          label: lucide('activity'),
          size: 'icon',
          variant: 'secondary'
        })
      }}
    </div>

    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'sm',
          variant: 'ghost'
        })
      }}
      {{
        button({
          label: 'Click Me',
          variant: 'ghost'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          variant: 'ghost',
          suffix: lucide('thumbs-up')
        })
      }}
      {{
        button({
          label: lucide('activity'),
          size: 'icon',
          variant: 'ghost'
        })
      }}
    </div>

    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'sm',
          variant: 'link'
        })
      }}
      {{
        button({
          label: 'Click Me',
          variant: 'link'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          variant: 'link',
          suffix: lucide('thumbs-up')
        })
      }}
      {{
        button({
          label: lucide('activity'),
          size: 'icon',
          variant: 'link'
        })
      }}
    </div>

    <div class="flex flex-row items-center gap-2">
      {{
        button({
          label: 'Click Me',
          size: 'sm',
          variant: 'destructive'
        })
      }}
      {{
        button({
          label: 'Click Me',
          variant: 'destructive'
        })
      }}
      {{
        button({
          label: 'Click Me',
          size: 'lg',
          variant: 'destructive',
          suffix: lucide('thumbs-up')
        })
      }}
      {{
        button({
          label: lucide('activity'),
          size: 'icon',
          variant: 'destructive'
        })
      }}
    </div>
  </div>
{% endblock %}
