{% from 'components/button.twig' import btn %}
{% extends 'layouts/base.twig' %}

{% block content %}
  <div
    class="bg-primary dark:bg-secondary dark:text-secondary-foreground text-primary-foreground mb-8 rounded-xl p-8 pt-60 shadow-xl"
  >
    <div class="prose-xl max-w-3xl">
      <h1>{{ post.title }}</h1>
      <div>
        {{ post.content }}
      </div>
    </div>
  </div>

  <form
    class="relative grid grid-cols-[1fr_4fr] items-start gap-8"
    id="posts-form"
    method="get"
    action="{{ site.home_url }}"
    hx-get="{{ htmxWP.ajaxUrl }}"
    hx-target="#posts"
    hx-swap="outerHTML"
    hx-indicator="#posts-indicator"
    :hx-push-url="`?s=${encodeURIComponent(s)}`"
    onsubmit="return false;"
    x-data="{
      s: ''
    }"
  >
    <aside class="border-border sticky top-8 rounded-md border p-4 shadow-sm">
      {# Required params for admin-ajax #}
      <input type="hidden" name="action" value="htmx_posts" />
      <input type="hidden" name="nonce" value="{{ htmxWP.nonce }}" />

      {# Search input #}
      <input
        x-model="s"
        name="s"
        placeholder="Search posts..."
        hx-trigger="keyup changed delay:300ms, search"
      />
    </aside>

    <div class="relative">
      <div
        id="posts-indicator"
        class="bg-background/50 absolute top-0 left-0 hidden h-full w-full"
      ></div>

      {% include 'partials/post-loop.twig' with {
        posts: posts,
        posts_per_page: posts_per_page,
        paged: paged,
        total_posts: total_posts
      } %}
    </div>
  </form>
{% endblock %}
