{% set debug = {
  post: post,
  acf: acf,
  meta: post.meta,
  site: site,
  user: user,
  request: request,
  context: _context
} %}

{% set keys = debug|keys %}
{% set initial = keys|first %}

<div
  x-data="{
    open: JSON.parse(localStorage.getItem('debug-open') ?? 'false'),
    active: localStorage.getItem('debug-active') ?? '{{ initial|e(
    'js'
  ) }}',
    toggleOpen() {
      this.open = !this.open;
      localStorage.setItem('debug-open', JSON.stringify(this.open));
    },
    setActive(tab) {
      this.active = tab;
      localStorage.setItem('debug-active', tab);
    },
    init() {
      this.$watch('open', v => localStorage.setItem('debug-open', JSON.stringify(v)));
      this.$watch('active', v => localStorage.setItem('debug-active', v));
    }
  }"
  class="fixed bottom-4 left-4 overflow-hidden rounded-md bg-neutral-900"
  :class="open ? 'w-2xl max-w-2xl' : ''"
>
  <!-- Accordion button -->
  <button
    class="flex cursor-pointer flex-row items-center justify-between gap-1 rounded-md bg-neutral-900 p-2 text-white hover:bg-neutral-800/50"
    :class="open ? 'w-full px-4' : 'aspect-square'"
    @click="toggleOpen"
    type="button"
  >
    <div class="flex items-center gap-2">
      {{
        lucide(
          'bug-off',
          {
            class: 'size-5'
          }
        )
      }}
      <span :class="open ? '' : 'sr-only'">Debug</span>
    </div>
    {{
      lucide(
        'minus',
        {
          class: 'size-4',
          ':class': "open ? '' : 'sr-only'"
        }
      )
    }}
  </button>

  <div class="p-2 pt-4" :class="open ? '' : 'hidden'">
    <!-- Tab list -->
    <nav class="mx-4 flex flex-row" role="tablist" aria-label="Debug tabs">
      {% for key, item in debug %}
        <button
          class="cursor-pointer rounded-t-md p-1 px-3 text-sm font-medium text-white uppercase hover:bg-neutral-800/50 aria-selected:bg-neutral-800"
          role="tab"
          :aria-selected="active === '{{ key }}'"
          :tabindex="active === '{{ key }}' ? 0 : -1"
          aria-controls="panel-{{ key }}"
          id="tab-{{ key }}"
          @click="setActive('{{ key }}')"
        >
          {{ key }}
        </button>
      {% endfor %}
    </nav>

    <!-- Tab panels -->
    <div>
      {% for key, item in debug %}
        <div
          role="tabpanel"
          aria-labelledby="tab-{{ key }}"
          id="panel-{{ key }}"
          x-show="active === '{{ key }}'"
          x-cloak
        >
          <!-- prettier-ignore-start -->
          <pre
            class="m-0! max-h-120 min-h-120 overflow-auto rounded-md bg-neutral-800! p-4 text-white"
          ><code class="language-json">{{ item|json_encode(constant('JSON_PRETTY_PRINT'))|e('html') }}</code></pre>
        <!-- prettier-ignore-end -->
        </div>
      {% endfor %}
    </div>
  </div>
</div>
